<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright 2012 limetree07. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include ..\..\res\Variables.wxi ?>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      
      <?if $(var.Platform) = x64 ?>
        <!-- for x64 installers -->
        <Component Id="CopyUncPath" DiskId="1" Guid="F5750240-A40D-483A-835F-A3A1AB8361FD" Win64="yes">
          <File Id="CopyUncPath_x64.dll" KeyPath="yes" Source="..\bin\cpp\CopyUncPath_x64.dll">
            <Class Id="{A2FF774B-F6C1-4172-850F-AB337132967D}" Context="InprocServer32" Description="CopyUncPathContextMenu Class" ThreadingModel="apartment" />
            <TypeLib Id="{9CEC8E76-7B18-4305-A8EC-C0B08202C4B5}" Description="CopyUncPathLib" HelpDirectory="INSTALLDIR" Language="0" MajorVersion="1" MinorVersion="0" />
          </File>
          <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="Directory\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="Drive\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
        </Component>
      
      <?else ?>
        <!-- for x86 installers -->
        <Component Id="CopyUncPath" DiskId="1" Guid="55C92748-C2A1-431A-AD17-08DD6C307BC8" Win64="no">
          <File Id="CopyUncPath_Win32.dll" KeyPath="yes" Source="..\bin\cpp\CopyUncPath_x86.dll">
            <Class Id="{A2FF774B-F6C1-4172-850F-AB337132967D}" Context="InprocServer32" Description="CopyUncPathContextMenu Class" ThreadingModel="apartment" />
            <TypeLib Id="{9CEC8E76-7B18-4305-A8EC-C0B08202C4B5}" Description="CopyUncPathLib" HelpDirectory="INSTALLDIR" Language="0" MajorVersion="1" MinorVersion="0" />
          </File>
          <RegistryValue Root="HKCR" Key="*\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="Directory\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="Drive\shellex\ContextMenuHandlers\1CopyUncPath" Value="{A2FF774B-F6C1-4172-850F-AB337132967D}" Type="string" Action="write" />
        </Component>
      <?endif ?>

      <Component Id="LICENSE" DiskId="1" KeyPath="yes" Guid="4B4B9337-012B-460F-9468-FBB941B079AB" Win64="$(var.Win64)">
        <File Id="LICENSEfile" Source="..\..\LICENSE.txt" />
      </Component>
    <Component Id="NOTICE" DiskId="1" KeyPath="yes" Guid="A37EEC13-A179-4E6C-9A8A-7F9ECCDF81C9" Win64="$(var.Win64)">
      <File Id="NOTICEfile" Source="..\..\NOTICE.txt" />
    </Component>
    <Component Id="CREDITS" DiskId="1" KeyPath="yes" Guid="854BCA3F-2581-41A6-B7D2-ABF5C5751436" Win64="$(var.Win64)">
      <File Id="CREDITSfile" Source="..\..\CREDITS.txt" />
    </Component>
    </DirectoryRef>
    </Fragment>
</Wix>