<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
      <DirectoryRef Id="INSTALLDIR">
        <Component Id="CopyPathToClipboard" DiskId="1" KeyPath="yes" Guid="3B675B3D-C5D1-442D-BBFC-B1944E379881">
          <File Id="copyunc.dll" Source="..\bin\copyunc.dll" />
        </Component>
        <Component Id="CopyIcon" DiskId="1" KeyPath="yes" Guid="ABED8C60-6F1E-46E3-A479-D51CF195057D">
          <File Id="copy.ico" Source="..\bin\copy.ico" />
        </Component>
      </DirectoryRef>
    </Fragment>
</Wix>