<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RegistryEntries" Guid="C1E818D6-F770-4B95-A218-11CAD7ED7268">
        <RegistryKey Root="HKCR"
                     Key="CopyPathToClipboard.FileContextMenuExt"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt" />
          <RegistryKey Key="CLSID"
                       Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="{B24FC10D-9A21-4AEC-A545-0FD033B9A914}" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR"
                     Key="CLSID\{B24FC10D-9A21-4AEC-A545-0FD033B9A914}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt" />
          <RegistryKey Key="InprocServer32"
                       Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="mscoree.dll" />
            <RegistryValue Type="string" Name="ThreadingModel" Value="Both" />
            <RegistryValue Type="string" Name="Class" Value="CopyPathToClipboard.FileContextMenuExt" />
            <RegistryValue Type="string" Name="CodeBase" Value="file:///[INSTALLDIR]copyunc.DLL" />
            <RegistryValue Type="string" Name="Assembly" Value="copyunc, Version=1.2.0.0, Culture=neutral, PublicKeyToken=6c49cc0fedd25fc7" />
            <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
            <RegistryKey Key="1.2.0.0"
                         Action="createAndRemoveOnUninstall">
              <RegistryValue Type="string" Name="Class" Value="CopyPathToClipboard.FileContextMenuExt" />
              <RegistryValue Type="string" Name="CodeBase" Value="file:///[INSTALLDIR]copyunc.DLL" />
              <RegistryValue Type="string" Name="Assembly" Value="copyunc, Version=1.2.0.0, Culture=neutral, PublicKeyToken=6c49cc0fedd25fc7" />
              <RegistryValue Type="string" Name="RuntimeVersion" Value="v2.0.50727" />
            </RegistryKey>
          </RegistryKey>
          <RegistryKey Key="ProgId"
                       Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt" />
          </RegistryKey>
        </RegistryKey>
        <RegistryKey Root="HKCR"
                     Key="CLSID\{B24FC10D-9A21-4AEC-A545-0FD033B9A914}\Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}"
                     Action="createAndRemoveOnUninstall" />
        <RegistryKey Root="HKCR"
                     Key="*\shellex\ContextMenuHandlers\{b24fc10d-9a21-4aec-a545-0fd033b9a914}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt Class" />
        </RegistryKey>
        <RegistryKey Root="HKCR"
                     Key="Directory\shellex\ContextMenuHandlers\{b24fc10d-9a21-4aec-a545-0fd033b9a914}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt Class" />
        </RegistryKey>
        <RegistryKey Root="HKCR"
                     Key="Drive\shellex\ContextMenuHandlers\{b24fc10d-9a21-4aec-a545-0fd033b9a914}"
                     Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="CopyPathToClipboard.FileContextMenuExt Class" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>